<div class="node-controls biquadFilter-node">
    <div class="node-header" data-event="click" data-action="toggle-compressor" data-detail="compressor">compressor</div>
    <div class="controls">
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-compressor', detail: 'threshold', min: -100, max: 0, step: 1, value: 0, header: 'thresh' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-compressor', detail: 'knee', min: 0, max: 40, step: 0.1, value: 0, header: 'knee' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-compressor', detail: 'ratio', min: 1, max: 20, step: 1, value: 0, header: 'ratio' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-compressor', detail: 'attack', min: 0, max: 1, step: 0.1, value: 0, header: 'attack' }) %>
        <%- include('/views/Slider.ejs', { event: 'change', action: 'set-compressor', detail: 'release', min: 0, max: 1, step: 0.1, value: 0, header: 'release' }) %>
    </div>
</div>