<div>
    <% if (locals.id===null || locals.id===undefined) locals.id='dual' %>
    <div id="<%= id %>" class="w3-row">
        <div class="w3-padding">
            eq
        </div>
        <div class="w3-row w3-padding">
            <div class="w3-row w3-padding">
                <div>low</div>
                <div class="w3-col" style="width:60px">freq</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'low' , min: '20' , max: '11000' , value: '0' ,
                        action:'set-low' }) %>
                </div>
                <div class="w3-col" style="width:60px">gain</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'low-gain' , min: '0' , max: '100' , value: '0', step:'0.1' ,
                        action:'set-low-gain' }) %>
                </div>
                <div class="w3-col" style="width:60px">Q</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'low-Q' , min: '0' , max: '1000' , value: '0', step:'0.001' ,
                        action:'set-low-Q' }) %>
                </div>
            </div>
            <div class="w3-row w3-padding">
                <div>mid</div>
                <div class="w3-col" style="width:60px">freq</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'mid' , min: '20' , max: '22000' , value: '0' ,
                        action:'set-mid' }) %>
                </div>
                <div class="w3-col" style="width:60px">gain</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'mid-gain' , min: '0' , max: '100' , value: '0', step:'0.1' ,
                        action:'set-mid-gain' }) %>
                </div>
                <div class="w3-col" style="width:60px">Q</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'mid-Q' , min: '0' , max: '1000' , value: '0', step:'0.001' ,
                        action:'set-mid-Q' }) %>
                </div>
            </div>
            <div class="w3-row w3-padding">
                <div>high</div>
                <div class="w3-col" style="width:60px">freq</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'high' , min: '20' , max: '22000' , value: '0' ,
                        action:'set-high' }) %>
                </div>
                <div class="w3-col" style="width:60px">gain</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'high-gain' , min: '0' , max: '100' , value: '0', step:'0.1' ,
                        action:'set-high-gain' }) %>
                </div>
                <div class="w3-col" style="width:60px">Q</div>
                <div class="w3-rest">
                    <%- await include('Slider', { id: 'high-Q' , min: '0' , max: '1000' , value: '0', step:'0.001' ,
                        action:'set-high-Q' }) %>
                </div>
            </div>
        </div>
    </div>
</div>